<div class="<%= pageClass %>">
 <h1><a href="/">Are you an Early Adopter?</a></h1>

 <div id="description">
  Authenticate with the services below and see how your user ID stacks up. Wary
  or lazy? <a href="/example.png">Click here for an example.</a></div>

 <div id="ajax-error" class="alert alert-error">
  <p>Sorry, there was an error retrieving your data. We've been alerted and are
  <a href="buttons.gif">working on the issue</a>.</p>
 </div>

 <div id="averages">
  <p>Your weighted average percentage is <span id="average-percentage"></span>.
  In other words, on average you join a service before
  <span id="average-percentage-inverse"></span> of the rest of its users.</p>

  <p>Check out the <a href="/leaderboard">global leaderboard</a> if you're
  interested in how you stack up against other idego users.</p>
 </div>

 <ul id="auth">
  <% for (var i = 0; i < services.length; i++) { %>
  <li id="<%= services[i].name.toLowerCase() %>"><%- services[i].link %></li>
  <% } %>
 </ul>

 <div id="idego"></div>

 <div id="twitter-text-wrapper">
  &ldquo;<span id="twitter-text"></span>&rdquo;

  <a href="https://twitter.com/share" id="twitter-share-best"
   class="twitter-share-button" data-lang="en" data-count="none" data-via="idegoco"
   data-related="idegoco:Are you a true Early Adopter?">Tweet</a>
 </div>

 <div id="profile-link"></div>

 <%- partial('footer') %>

 <%- partial('friends') %>
</div>
