<div id="auth-wrapper">
 <h1><a href="/">Are you an Early Adopter?</a></h1>

 <h2 id="username" class="<%= mine ? 'mine' : '' %>"><%= username || ''%></h2>

 <ul id="auth" class="profile">
  <% for (var i = 0; i < services.length; i++) { %>
  <li id="<%= services[i].name.toLowerCase() %>"><%- services[i].html %></li>
  <% } %>
 </ul>

 <div id="viral">Want your own profile? <a href="/">Sign up!</a></div>

 <%- partial('footer') %>
</div>

<%- partial('friends') %>
